.u-section-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/no.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 656px;
}

.u-section-1 .u-slider-1 {
  width: 639px;
  min-height: 385px;
  margin: 141px auto 0 51px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/unknown.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/unknown1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  width: 71px;
  height: 71px;
}

.u-section-1 .u-carousel-control-2 {
  width: 71px;
  height: 71px;
}

.u-section-1 .u-group-1 {
  width: 484px;
  min-height: 189px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -287px 51px 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 24px 50px 27px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 14px 72px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 27px auto 0 0;
  padding: 10px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-1 .u-slider-1 {
    width: 584px;
    height: auto;
    margin-top: -699px;
  }

  .u-section-1 .u-group-1 {
    width: 482px;
    margin-top: -502px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 518px;
    min-height: 548px;
    margin-top: -675px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -490px;
    margin-right: auto;
    margin-left: 242px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 519px;
    margin-top: -509px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-indicators-1 {
    width: 72px;
    height: 3px;
    top: auto;
    bottom: 94px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -287px;
    margin-left: 29px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 423px;
    margin-top: -319px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 300px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 25px 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/no.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 668px;
}

.u-section-2 .u-slider-1 {
  width: 639px;
  min-height: 385px;
  margin: 115px 51px 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: 108px;
  height: 3px;
  top: auto;
  bottom: 11px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/unknown2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/unknown3.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/unknown4.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-carousel-control-1 {
  width: 71px;
  height: 71px;
}

.u-section-2 .u-carousel-control-2 {
  width: 71px;
  height: 71px;
}

.u-section-2 .u-group-1 {
  width: 484px;
  min-height: 181px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -293px auto 60px 51px;
}

.u-section-2 .u-container-layout-4 {
  padding: 24px 50px 27px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 14px 72px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 19px auto 0 0;
  padding: 10px 43px 10px 41px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -46px 0 0 auto;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-2 .u-slider-1 {
    width: 584px;
    min-height: 665px;
    height: auto;
  }

  .u-section-2 .u-group-1 {
    width: 482px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-2 .u-slider-1 {
    width: 518px;
    min-height: 688px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 242px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 519px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-indicators-1 {
    width: 72px;
    bottom: 94px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 29px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 423px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 300px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 25px 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/no.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 656px;
}

.u-section-3 .u-slider-1 {
  width: 727px;
  min-height: 385px;
  margin: 141px auto 0 51px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/unknown5.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/unknown6.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  width: 71px;
  height: 71px;
}

.u-section-3 .u-carousel-control-2 {
  width: 71px;
  height: 71px;
}

.u-section-3 .u-group-1 {
  width: 484px;
  min-height: 189px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -287px 51px 60px auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 24px 50px 27px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 72px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 27px auto 0 0;
  padding: 10px 43px 10px 41px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -46px 0 0 auto;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-3 .u-slider-1 {
    width: 584px;
    height: auto;
    margin-top: -699px;
  }

  .u-section-3 .u-group-1 {
    width: 482px;
    margin-top: -502px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 518px;
    min-height: 548px;
    margin-top: -675px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: -490px;
    margin-right: auto;
    margin-left: 242px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 519px;
    margin-top: -509px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-indicators-1 {
    width: 72px;
    height: 3px;
    top: auto;
    bottom: 94px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -287px;
    margin-left: 29px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 423px;
    margin-top: -319px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 300px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 25px 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}